@media only screen and (min-width: 601px) and (max-width:800px){

    .gallerycontainer{
        display: grid;
        grid-template-columns: .9fr .9fr;
        grid-template-rows: .9fr .9fr .9fr;
    }
    
    .gallerimg{
        max-height: 85%;
        align-content: center;
    }
    








}