@media only screen and (min-width: 601px) and (max-width:800px){

    .gallerycontainer{
        display: grid;
        grid-template-columns: .1fr 1fr;
        grid-template-rows: auto;
    }
    
    .gallerimg{
        max-width: 90%;
        max-height: 85%;
        align-content: center;
    }
    








}