@media only screen and (min-width: 900px){

button{
    display: none;
}
nav ul.hide{
    display: flex;
}

ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-left: 0;
    justify-content: space-evenly;
}

.logo {
    height: 200px;
    width: 240px;
    padding: 5px;

}

h1 {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 80px;
    text-emphasis: bold;

}

.moto {
    font-family: 'Lily Script One', cursive;
    font-size: 25px;
    text-emphasis: bold;
}

.gallerycontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;

}

.galleryimg{
    max-width: 100%;
    align-content: center;
    box-shadow: 10px 10px 10px;
    margin-bottom: 25px;
}

 
}
