@media only screen and (min-width: 600px) and (max-width: 900px){

    button{
        display: none;
    }

    nav ul.hide{
        display: flex;
    }
    
    ul{
        display: flex;
        list-style: none;
        flex-direction: row;
        padding-left: 0;
        justify-content: space-evenly;
    }

    .gallerycontainer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .galleryimg{
        max-width: 100%;
        align-content: center;
        width: 285px;
        box-shadow: 10px 10px 10px;
        margin-bottom: 25px;
    }
}

