body{
    color: black;
    background-color: #def2f4;


}
main h1{
    text-align: center;
}

.logo {
    height: 150px;
    width: 190px;
}


h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-emphasis: bold;

}

.moto {
   font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-emphasis: bold;
}
.headingwords{
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #C39556;
    color: white;
    padding-bottom: 0;
}

nav{
    background-color: #947241;
    font-size: 1.5em;

}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 0;
    margin-top:0;
    justify-content: space-evenly;
    
}

li {
    padding: 7px;
}

a{
    text-decoration: none;
    color: white;
   
}
a:hover{
    color: black;
    border: double 4px white;
}

.active{
    color: #ed553b;
    border: double 4px white;
}
h2  {
    text-align: center;
    font-style: bold;
    color: #947241;
    font-size: 30px;
}

footer{
    text-align: center;
    background-color: #947241;
    margin:0;
    padding: 5px;
}
footer a:hover{
   color: black;
   border: double 4px black;

}

nav ul.hide{
   display: none;

}

label{
    display: inline-block;
    text-align: left;
    min-width: 200px;
    padding-left: 25%;
    font-size: 20px;
    text-emphasis: bold;
    color: black;
}

input{ 
    display: inline-block;
    text-align: left;
    margin: 25px;
}

select{ 
    display: inline-block;
    text-align: center;
    margin: 25px;

}

#comments{
    text-align: justify;
}
.boxinfo{
    text-align: left;
    width: 100%;
}

#button{
    text-align: right;
    padding-right
    : 20%;
}

@media only screen and (min-width: 600px){

    button{
        display: none;
    }
    nav ul.hide{
        display: flex;
    }
    
    ul{
        display: flex;
        list-style: none;
        flex-direction: row;
        padding-left: 0;
        justify-content: space-evenly;
    }
    
    .logo {
        height: 200px;
        width: 240px;
        padding: 5px;
    
    }
    
    h1 {
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 80px;
        text-emphasis: bold;
    
    }
    
    .moto {
        font-family: 'Lily Script One', cursive;
        font-size: 25px;
        text-emphasis: bold;
    }


    label{
        font-size: 20px;
    }
    
}